
/* W3schools said to that constrasting fonts can look good e.g. serif and sans serif style so I picked fonts that meshed well 
together */

body {background-color: Seashell; margin-top: 20px; margin-bottom: 50px}

/* The headings are formated the same but have degreasing font size */

h1 {font-size:30px; font-weight:700; letter-spacing: 2px;color: DimGrey; font-family: Georgia, serif;
margin-left: 15px;}

h2 {font-size:25px; font-weight:600; letter-spacing: 2px; color: DimGrey; font-family: Georgia, serif;
margin-left: 15px; }

h3 { letter-spacing: 2px;color: DimGrey; font-family: Georgia, serif;
margin-left: 15px; font-size:20px; font-weight:550;}

h4 {letter-spacing: 2px;color: DimGrey; font-family: Georgia, serif;
padding-left: 20px; font-size:16px; font-weight:500;}

p{ line-height: 1.5; font-family: Noto Sans, sans-serif;
margin-left: 15px;background-color: Seashell; font-size:13px; font-weight:400;}

/* I used W3schools for inspiration and played around with the link options. I picked hover and various font characteristics to help the link 
stand out a bit more. The a selects for the links*/
a{letter-spacing: 2px;color: DimGrey; font-family: Georgia, serif; font-size: 15px;}
a:hover{color:#cc7a00}

/* I saw on youtube this person do borders so I thought I would add borders to my picture and the person also 
displayed how to get pictures and text aligned link: https://www.youtube.com/watch?v=lgX38fNbxmw&ab_channel=Codehal */
.index{text-align:center;}
.intro{text-align:center; background-color:#ffeb99; margin:60px; padding:25px; border:5px solid #ffffb3; border-radius:20px;}

/* Formating for the introductory bio of Skyler. I wanted there to be some space and added in margins and padding */
.bio{margin: 60px; padding:100px;}

/* I used a class sector should I could format a block with a border and background colour around my three photos */
.photo{text-align:center; background-color:#ffeb99; margin:60px; padding:25px; border:5px solid #ffffb3; border-radius:20px;}

/* I used individual sectors so I could put space between the photos*/
#img2{margin:22px}
#img3{margin:22px}
#img4{margin:22px}

/* I used this class to align everything to the center for the first page to make it look better*/
.index{text-align:center;}

/* External link CSS requirements */
.elink a{padding-left:20px; padding-right:20px; color:black;}
.elink{margin-bottom:50px;}

/* I used W3schools for inspiration and played around with the table options. I removed/added some columns to fit the need of my data.W3schools showed me how to do the borders and colour the background the so first row is differnet from the rest*/
#treatrank{font-size: 14px;}
table, th, td{border-collapse: collapse; border:1.5px solid;}
table {margin-left:80px; width:85%;}
th, td {padding: 10px;text-align: left;}
td  {background-color: FloralWhite}
th {font-size:20px; background-color: Cornsilk }
#tablenote{margin-left:90px; font-size: 12px;}


